@charset "utf-8";
/* CSS Document */

/* Page Layout */
body{
	text-align: center;
	background-color: #eeeeee;
}












#containerbox{
	width:1000px;
	margin: auto;
}

header{
	
}

nav{
	overflow: hidden;
	font-family: Impact;
	font-size: 18px;
}

nav img{
	float: left;
	width: 150px;
	heigh: 50px;
	padding:7px;
	
}

nav ul{
	float: left;
}

nav li{
	display: table-cell;
}

nav li button{
	display: block;
	width:120px;
	padding:7px;
	border-radius:10px;
	background-color: #00B1D6; 
	color: #FFFFFF;
	font-size: 18px;
	font-family:Impact
}


nav li a {
	display: block;
	color: #00B1D6;
	text-decoration: none;
	padding: 7px;
	width: 120px;
}

nav a:hover {
	background-color: #00B1D6;
	color: #FFFFFF;
	border-radius: 10px;
}

nav a:active {
	background-color: #4CAF50;
	color: #000000;
}



.home{
	float: left;
	width: 1000px;
	height: 650px;
	background-color: #eeeeee;
	border: 2px solid #00B1D6;
}



.homeleft{
	float: left;
	width: 640px;
	height: 650px;
	border: 2px solid #00B1D6;
}

.homeright{
	float: right;
	width: 300px;
	height: 650px;
	border: 2px solid #00B1D6;
}









.main{
	width: 1000px;
	height: 1000px;
	border: 0;
	vertical-align: middle;
	margin-top: 10px;
}

footer{
	background-color: #000000;
	font-family: arial;
	
}

footer p{
	color: white;
	padding: 7px;
	font-family: arial;
	text-align: center;
}

/* iframe */
h1{
	font-family: Comic Sans MS;
}

h2{
	font-family: Comic Sans MS;
}

h3{
	font-family: Comic Sans MS;
	font-size: 19px;
}

p{
	font-family: Comic Sans MS;
	text-align: justify;

}






/* membership page */
#membership form{
	border: 3px solid #606060;
	
}

table{
	text-align: left;
	font-family: arial;
	width: 700px;
	padding-top: 20px;
}

input[type=text], input[type=date], input[type=password]{
	width: 100%;
	padding: 6px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}







button[type=submit]{
	background-color: #606060;
	color: #FFFFFF;
	padding: 14px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

button[type=backtohome]{
	background-color: #606060;
	color: #FFFFFF;
	padding: 14px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 700px;
}

button:hover{
	opacity: 0.7;
}

