# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Unitec\Graduate_Diploma\ISCG_7444_Cloud_Design_and_Development\Cloud Application Project\Helpie\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
